:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray500: hsl(0, 0%, 42%);
    --gray950: hsl(0, 0%, 7%);
}

@font-face {
    font-family: figtree-italic;
    src: url(./assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
}
@font-face{
    font-family: figtree;
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

@font-face{
    font-family: figtree-extrabold;
    src: url(./assets/fonts/static/Figtree-ExtraBold.ttf);
    
}

@font-face{
    font-family: figtree-semibold;
    src: url(./assets/fonts/static/Figtree-SemiBold.ttf);

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow);
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 15px;
    max-width: 370px;
    border: 1px solid var(--gray950);
    border-radius: 20px;
    box-shadow: 9px 6px var(--gray950);
}

.container > img{
    border-radius: 10px;
}

.blog-data{
    display: flex;
    flex-direction: column;
}

.blog-type {
    background-color: var(--yellow);
    color: var(--gray950);
    font-family: figtree-extrabold;
    padding: 4px 8px;
    border-radius: 5px;
    width: fit-content;
    margin: 20px 0 15px 0;
}

.blog-date {
    font-family: figtree-italic;
    color: var(--gray950);
}

.blog-sum {
    display: flex;
    flex-direction: column;
}

.blog-sum h1 {
    margin: 15px 0 20px;
    font-family: figtree-extrabold;
    color: var(--gray950);
}

.blog-sum p{
    color: var(--gray500);
    font-family: figtree;
    margin-bottom: 20px;
    font-size: 1rem;
}

footer{
     display: flex;
     align-items: center;
     margin-bottom: 10px;
}

footer img {
    max-width: 40px;
}
footer span{
    font-family: figtree-extrabold;
    margin-left: 10px;
}
